<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SNS Chat</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/vue.js"></script>
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://localhost:6008/client.js"></script>
    <script src="/js/sns.js"></script>
    <script>

      // when page is ready
      var app;
      var SNS;
      $(document).ready(function() {

        app = new Vue({
          el: '#app',
          data: {
            users: [],
            messages: [],
            name: null
          },
          methods: {
            init: function(e) {
              
              // stop this form actually submitting
              e.preventDefault();

              // remove any previous validation
              $("form#nameForm div.form-group").removeClass("has-error");

              // capture our form
              var form = $("form#nameForm");

              // capture our name
              var name = form.serializeArray()[0].value;

              // perform some validation if the form hasn't been completed
              if (!name) {
                return $("form#nameForm div.form-group").addClass("has-error");
              }

              $("form#nameForm").addClass("hidden");
              $("div#chat").removeClass("hidden");
              app.name = name;

              SNS = setupSNS(name);

              $.get('http://localhost:6008/historical?type=chat')
              .complete(function(data) {
                
                if (data.responseJSON.success) {
                  data.responseJSON.notifications.reverse().forEach(function(msg) {
                    app.messages.push(msg)
                  })
                }

              });
              
            },
            send: function(e) {

              // stop this form actually submitting
              e.preventDefault();

              // remove any previous validation
              $("form#msgForm div.form-group").removeClass("has-error");

              // capture our form
              var form = $("form#msgForm");

              // capture our msg
              var msg = form.serializeArray()[0].value;

              // perform some validation if the form hasn't been completed
              if (!msg) {
                return $("form#msgForm div.form-group").addClass("has-error");
              }

              SNS.send({ type: "chat" }, { name: app.name, msg: msg })

              $('#msg').val("");

            }
          },
          computed: {
            messagesReversed: function() {
              return this.messages.reverse()
            }
          }
        })

      });
      
    </script>

  </head>

  <body>

    <div class="container" id="app">
      
      <div class="row">
        
        <div class="col-lg-12">
          <h1>SNS Chat Demo</h1>
        </div>

      </div>

      <div class="header">
        <form id="nameForm" v-on:submit="init">
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control input-lg" placeholder="What is your name?">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          <hr>
        </form>

      </div>

      <div class="row hidden" id="chat">
        
        <div class="col-lg-8">
          <h1>Messages</h1>
          <form id="msgForm" v-on:submit="send">
            <div class="form-group">
              <input type="text" name="msg" id="msg" class="form-control input-lg" placeholder="Enter your message...">
            </div>
            <button type="submit" class="btn btn-success">Send</button>
            <hr>
          </form>
          <div class="panel panel-default" v-for="msg in messagesReversed">
            <div class="panel-heading"><strong>{{ msg.name }}</strong></div>
            <div class="panel-body">
              {{ msg.msg }}
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <h1>Users</h1>
          <ul class="list-group">
            <li class="list-group-item" v-for="user in users">{{ user.name }}</li>
          </ul>
        </div>

      </div>

    </div> <!-- /container -->

  </body>
</html>
