
#submitname {
  float: right;
}

hr {
  margin: 0 2.5rem;
}

.chat-message {
  border: 1px solid #d3d9dd;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.msg-title {
  border-bottom: 1px solid #d3d9dd;
  padding: 10px 15px;
}

.msg-title > span:first-child {
  font-weight: 600;
}

.msg-title > span:last-child {
  float: right;
  font-size: 0.75rem;
}

.msg-body {
  padding: 15px;
}
